.cool-border {
    border: 6px solid red;
    border-radius: 5px;
  }

.navbar{
    border: 5px solid rgb(32, 32, 32);
    background-color:aliceblue;
    border-radius: 0.5px;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  canvas{
    height: 100%;
  }
